
h1, label{
	color: white;
}
.map-container {
	padding: 10%;
}
@media ( orientation: landscape){
	@media (max-width: 500px) {
		.map-container {
			height: 300px;
			width: 450px;
		}
	}
	@media (min-width: 500px) and (max-width: 800px) {
		.map-container {
			height: 300px;
			width: 60px;
		}
	}
	@media (min-width: 800px){
		.map-container {
			height: 400px;
			width: 900px;
		}
	}
}
@media ( orientation: portrait){
	@media (max-height: 500px) {
		.map-container {
			height: 400px;
			width: 200px;
		}
	}
	@media (min-height: 500px) and(max-height: 800px) {
		.map-container {
			height: 650px;
			width: 300px;
		}
	}
	@media (min-height: 800px){
		.map-container {
			height: 900px;
			width: 450px;
		}
	}
}